.movies-container {
  background-color: darkslateblue;
  color: white;
  padding-top: 30px;
}

.movies-list tr td:first-child {
  width: 10%;
}

.movies-list img {
  width: 50px;
}

.movies-list a {
  color: white;
}

.movies-tags {
  height: 160px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.movies-border {
  border: 1px dashed white;
}

.movies-tag-button {
  margin: 5px;
}

.movies-position-hints {
  position: relative;
}

.movies-search-hints {
  position: absolute;
  z-index: 20;
  width: 75%;
  margin: 0;
  background-color: ghostwhite;
  list-style-type: none;
  padding: 0;
  color: darkslateblue;
}

.movies-search-hints a {
  display: block;
  text-decoration: none;
  color: darkslateblue;
}

.movies-search-hints li {
  padding: 5px 10px;
}

.movies-search-hints li:hover {
  background-color: lightsteelblue;
}

.movies-stick-hints {
  margin-bottom: 0;
}

