.movies-list tr td:first-child {
  width: 10%;
}

.movies-list img {
  width: 50px;
}

.movies-tags {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.movies-border {
  border: 1px dashed #d3d3d3;
}

.movies-tag-button {
  margin: 5px;
}

.movies-tag-button-active,
.movies-tag-button-active:hover,
.movies-tag-button-active:focus,
.movies-tag-button-active:active,
.movies-tag-button-active:active:hover,
.movies-tag-button-active:active:focus {
  background-color: #DC810E;
  background-image: linear-gradient(to bottom, #FF8C00 0%, #DC810E 100%);
  border-color: #DC810E;
}

.movies-tag-button-reset,
.movies-tag-button-reset:hover,
.movies-tag-button-reset:focus,
.movies-tag-button-reset:active,
.movies-tag-button-reset:active:hover,
.movies-tag-button-reset:active:focus {
  background-color: #808080;
  background-image: linear-gradient(to bottom, #949494 0%, #808080 100%);
  border-color: #808080;
}

.movies-position-hints {
  position: relative;
}

.movies-stick-hints {
  margin-bottom: 0;
}

.movies-search-hints {
  position: absolute;
  z-index: 20;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  list-style-type: none;
}

.movies-search-hints a {
  display: block;
  text-decoration: none;
}

.movies-search-hints li {
  padding: 5px 10px;
}

.movies-search-hints-titles a {
  color: #4D4D4D;
}

.movies-search-hints-titles:hover {
  background-color: #DC810E;
}

.movies-search-hints-tags {
  color: #DC810E;
}

.movies-search-hints-tags:hover {
  background-color: #808080;
  color: #fff;
}

.no-top-margin:first-child {
  margin-top: 0;
}

.form-control:focus {
  border-color: #DC810E;
}

@media (max-width: 767px) {
  .align-search-button {
    margin-top: 5px;
  }
}

@media (min-width: 768px) {
  .align-search-button {
    padding-left: 0;
  }

  .no-right-padding {
    padding-right: 0;
  }

  .search-group-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search-group-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}