@import url("https://fonts.googleapis.com/css?family=Varela+Round&amp;subset=latin-ext");
@import url("http://fonts.googleapis.com/css?family=Anton&amp;subset=latin,latin-ext");

.profile-container {
  font-family: 'Varela Round', sans-serif;
  color: white;
}

.login-container {
  margin-top: 50px; }

.logo {
  max-height: 150px;
  width: auto; }

.black-background {
  background-color: rgba(33, 33, 33, 0.7);
  padding: 30px; }

.name {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  color: #DC810E;}

.film-table tr:nth-child(even){
  background-color: #6b6b6b;
}

.film-table tr:nth-child(odd){
  background-color: #808080;
}

.film-table tr:hover {
  background-color: #DC810E;
}

.film-table a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 10px;
  font-size: 1.1rem;
}

.film-table a:hover {
  color: #474747;
  display: block;
}

.table > tbody > tr > td{
  padding: 0;
}

.strong {
  font-weight: 900;
  font-size: 1.1rem;
}

.avatar-img {
  width: 75px;
  padding: 5px;
}

.film-table td.film-table-button {
  vertical-align: middle;
}
