/* General */
p.home-user-location {
  color: white;
  margin-top: 5px;
  font-style: italic;
}

.home-ruller {
  margin: 10px;
}

/* Events */
.home-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 9px;
  margin-top: 10px;
}

.home-btn-wrapper button {
  padding-right: 16px;
  padding-left: 16px;
}

.home-centered-vert {
  display: flex;
  align-items: center;
}

.home-event-description {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.home-event-description h5 {
  line-height: 1.5em;
}

.home-event-panel {
  background-color: rgba(33, 33, 33, 0.7);
  margin-bottom: 5px;
  padding-bottom: 10px;
  height: 175px;
}

.home-event-panel h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.home-event-panel h4 {
   margin-top: 5px;
   margin-bottom: 5px;
  float: left;
 }

.home-event-panel-header {
  background-color: rgba(33, 33, 33, 0.7);
  margin-bottom: 2px;
}

.home-event-title {
color: #dc810e;
font-family: 'Anton', sans-serif;
text-align: center;
text-shadow: 3px 3px 8px black;
}

/* Slider */
.input-range {
  width: 85%;
  margin: auto;
}

.input-range__label--value {
  top: 0.6rem;
}

.input-range__label-container {
  font-family: 'Varela Round', sans-serif;
}

.input-range__track--active {
  background-color: #dc810e;
}

.input-range__slider {
  background-color: #dc810e;
  border: 1px solid white;
}

/* Input field */
.home-location {
  margin-bottom: 20px;
}

/* Calendar */
.home-calendar {
  height: 620px;
  margin-bottom: 20px;
}

.rbc-date-cell > a {
  color: white;
}

.rbc-calendar * {
  color: white;
}

.rbc-today {
  background-color: #6b6b6b;
}

.rbc-event {
  background-color: #dc810e;
}

.rbc-event-content {
  font-size: 0.75rem;
}

.rbc-toolbar button {
  color: white;
  background-color: #808080;
  background-image: linear-gradient(to bottom, #949494 0%, #808080 100%);
  border-color: #808080;
  margin-top: 10px;
  font-size: 12px;
  padding-bottom: 7px;
  padding-top: 7px;
}

.rbc-row div a {
  cursor: default;
}

.rbc-month-view {
  background-color: #6B6B6B;
}

@media (max-width: 319px) {
  .home-calendar {
    display: none;
  }

  .home-ruller {
    margin: 3px;
  }

  .home-centered-vert img{
    max-height: 96px;
  }

  .home-event-panel {
    height:100%;
  }

  .home-event-panel h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .home-event-panel h4 {
    font-size: 0.8rem;
  }

  .home-event-panel h6 {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .home-calendar {
    height: 400px;
  }

  .rbc-event {
    padding: 0;
    border-radius: 0;
  }

  .rbc-show-more {
    font-size: 0.5rem;
  }

  .rbc-event-content {
    font-size: 0.5rem;
  }

  .home-ruller {
    margin: 3px;
  }

  .home-centered-vert img{
    max-height: 96px;
  }

  .home-event-panel {
    height:185px;
  }

  .home-event-panel h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .home-event-panel h4 {
    font-size: 0.8rem;
  }

  .home-event-panel h6 {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  .home-event-panel {
    height: 100%;
  }

  .home-event-panel h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}


