html,
body{
  background-color: #4d4d4d;
}

.basic-background{
  background-color: #4d4d4d;
}

.log-in-background {
  background: url(../img/login-background.jpg);
  background-size: cover;
  margin-top: -20px;
}

.logo {
  max-height: 150px;
  width: auto;
}

