@import url("https://fonts.googleapis.com/css?family=Varela+Round&amp;subset=latin-ext");
@import url("http://fonts.googleapis.com/css?family=Anton&amp;subset=latin,latin-ext");

.row {
  margin-top: 30px;
}

.col {
  font-family: 'Varela Round', sans-serif;
  color: white;
}


.movie-title {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  color: #DC810E;}

.movie-description {
  background-color: rgba(33, 33, 33, 0.7);
  padding: 30px;
  color: #ffffff;
}

.title {
  background-color: rgba(33, 33, 33, 0.7);
}

/*.movie-img {*/
  /*width: 40%;*/
  /*height: 60%;*/
/*}*/
